.comments {
    height: 400px;
    margin-bottom:300px;
}


@media (max-width: 767px) {
    .comments {
       height: 900px;;
       margin-bottom:1200px;
  }
}

@media (max-width: 767px) {
    .sm-none {
       display:None;
  }
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}





    @media (max-width: 767px){
    .logo {
        max-width: 65%;
        justify-content: start;
        align-items: start;
    }
    }


    @media (max-width: 767px) {
    .photo1 {
    display: None;
  }
}
@media (max-width: 767px) {
    .catalog1 {
    display: None;
  }
}

@media (max-width: 767px) {
    .telegram-btn1 {
    margin-inline-start: 20%;
  }
}

photo2 {
    margin-top: 50px;
}


@media (max-width: 1020px) {
    .btn-search {
    display: None;
  }
}


@media (max-width: 991.98px) {
    .hide-item {
    display: None;
  }
}


@media (max-width: 770px) {
    .btn-tour {
    display: None;
  }
}


@media (max-width: 1280px) {
    .my-phone {
    display: None;
  }
}


.telegram {
      background-image: url('{% static "images/telegram_photo.jpg" %}');
      background-size: cover;

@media (max-width: 767px) {
    .telegram {
       background-size: cover;

  }
}
