{% extends 'base.html' %}
{% load static %}
  {% block main_baner_img %}
  <img src="{% static 'images/baner_catalog.jpg' %}" class="img-fluid mt-5" alt="Main Banner">
        {% endblock main_baner_img %}
{% block content %}
<div class="container" style="margin-bottom:300px;">
    <h2 class="text-center mt-5">Найчастіші питання та відповіді:</h2>
    <ol class="list-group list-group-numbered mt-5 shadow-lg">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Які тури пропонує ваше турагентство?</div>
      Ми організовуємо екскурсійні тури по Україні та по Європі, пакетні тури на море та на гірськолижний відпочинок, створюємо індивідуальні тури спеціально під конкретні побажання. Якщо маєте ідею не стандартного туру - пишіть запит і ми створимо для вас таку мандрівку, яка запам"ятається.
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Як забронювати тур?</div>
      Забронювати тур можна залишивши заявку на сайті або звернутися до наших менеджерів за допомогою.
    </div>

  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Як відбувається оплата за тур?</div>
      Після того як ви обрали тур ми надсилаємо вам рахунок на оплату. Оплата відбувається на рахунок ФОП з будь-якого банку чи картки.
    </div>

  </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Чи підписуємо ми договір про надання туристичних послуг?</div>
     Так, ми можемо підписати електронний договір або паперовий і вислати вам його Новою Поштою.
    </div>

  </li>
       <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Якщо в мене виникнуть проблеми під час відпочинку чи можу я розраховувати на вашу допомогу?</div>
     Так, ми завжди тримаємо зв'язок 24/7 з тими туристами, які знаходяться на відпочинку від нашої агенції і допомагаємо їм за потреби.
    </div>

  </li>
       <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Як дізнатися про акції та знижки на тури?</div>
     Долучайтесь до наших спільнот у вайбері та телеграмі. Кнопки переходу є в кінці сторінки.
    </div>

  </li>
       <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Чи можна змінити дату або місце відпочинку після бронювання?</div>
    Все залежить від того скільки днів залишилося до початку туру. Кожен випадок потрібно розглядати окремо з вашим бронюючим менеджером.
    </div>

  </li>
       <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Як дізнатися про документи, необхідні для виїзду за кордон?</div>
     Зв'яжіться з нашим менеджером +38 098 311 77 54 і вона вас проконсультує.
    </div>

  </li>
       <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Чи можна скористатися послугами вашого турагентства, якщо я маю певні вимоги до харчування або розміщення в готелі?</div>
     Так, звичайно. Ми напишемо лист в готель з особливими побажаннями і ви гарно відпочинете.
    </div>

  </li>
       <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Чи є у вашому турагентстві програма лояльності для постійних клієнтів?</div>
     Так, у нас програма лояльності. При бронюванні обов'язково потрібно вказати, що ви користувалися послугами нашої агенції.
    </div>

  </li>
       <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Як зв'язатися з представниками вашого турагентства в разі потреби допомоги або консультації?</div>
     Ви можете зателефонувати, написати у viber або telegram на номер +38098 311 77 54
    </div>

  </li>

</ol>
</div>
{% endblock content %}