{% extends 'base.html' %}
{% block content %}
<div class="container" style="font-family: 'Libre Baskerville', serif; margin-bottom:300px;">
    <h2 class="text-center mt-5">Найчастіші питання та відповіді:</h2>
    <ol class="list-group list-group-numbered mt-5 shadow-lg">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Як забронювати тур?</div>
      Забронювати тур можна залишивши заявку на сайті або звернутися до наших менеджерів за допомогою.
    </div>

  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Як я можу бути впевнений, що мені нададуть замовлені послуги?</div>
      Ми працюємо офіційно, всі платежі надходять на рахунок ФОП. Чесність та порядність ФОПа можна перевірити на сайті YOUCONTROL.
    </div>

  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Чи підписуємо ми договір про надання туристичних послуг?</div>
      Так, ми можемо підписати електронний договір або паперовий і вислати вам його Новою Поштою.
    </div>

  </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Якщо в мене виникнуть проблеми під час відпочинку чи можу я розраховувати на вашу допомогу?</div>
     Так, ми завжди тримаємо зв'язок 24/7 з тими туристами, які знаходяться на відпочинку від нашої агенції і допомогаємо їм за потреби.
    </div>

  </li>
</ol>
</div>
{% endblock content %}